@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: maroon;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  height: 50vh;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 13rem auto;
  background-color: white;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.content h1 {
  font-size: 1.3rem;
  color: grey;
  font-weight: 500;
}

.content div {
  margin-top: 1.5rem;
  font-size: 1.7rem;
  font-weight: 420;
  text-align: center;
  padding: 0 1.5rem;
}

.content button {
  margin-top: 2rem;
  font-size: 1.1rem;
  padding: 0.8rem 2.2rem;
  border-radius: 12px;
  cursor: pointer;
  background-color: #4b5320;
  color: white;
  border: none;
}

.content button:hover {
  background-color: #5d6532;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 11rem auto;
  }
  .content div {
    font-size: 1.4rem;
  }
}
